<% if @plates.present?%>
    <h1>
      主题一览：
    </h1>
    <div class="row clearfix">
      <% @plates.each do |plate|%>
          <div class="col-md-4 column">
            <h2>
              <%= plate.name %>
              <span id="care_plate_<%= plate.id%>">
                <%= render :partial => "plates/care_plate", :locals =>{:plate => plate}%>
              </span>
            </h2>
            <p>
              <%= replace_br plate.info%>
            </p>
            <p>
              <%= link_to "更多 »", "/search?plate_id=#{plate.id}", :class => "btn"%>
            </p>
          </div>
      <% end %>
    </div>
<% end %>