<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
    <%= simple_form_for @user, :url => {:controller => 'registers', :action => 'create'}, :method => :post, :html => {:multipart => true} do |f|%>
      <div class="form-group">
        <%= f.input :login, :label => '用户名：（用户名唯一）', :input_html => {:class => 'form-control', :id => 'login'}%>
      </div>
      <div class="form-group">
        <%= f.input :email, :label => '邮箱：', :input_html => {:class => 'form-control', :id => 'email'}%>
      </div>
      <div class="form-group <%= 'field_with_errors' if @user.errors[:password].present?%>">
        <label for="password">请输入密码：</label>
        <%= f.password_field :password, :class => 'form-control', :id => 'password'%>
        <%= f.full_error :password, :class => 'error'%>
      </div>
      <div class="form-group <%= 'field_with_errors' if @user.errors[:password_confirmation].present?%>">
        <label for="password_confirmation">请再次输入密码：</label>
        <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'password_confirmation' %>
        <%= f.full_error :password_confirmation, :class => 'error'%>
      </div>
      <div class="checkbox">

      </div> <button type="submit" class="btn btn-default">注册</button>
    <% end %>
  </div>
  <div class="col-md-4 column">
  </div>
</div>