
<div class="active" id="">
  <p>
    I'm in Section 1.
  </p>
  <%= render 'common/message'%>
  <p class="">
    <button class="pull-right btn btn-success" onclick="location='<%= new_admin_plate_path %>'">新建板块</button>
  </p>
  <table class="color_table table">
    <thead>
    <tr>
      <th width="10%" class="center">序号</th>
      <th width="20%" class="center">板块名</th>
      <th width="10%" class="center">显示状态</th>
      <th class="center">板块信息</th>
      <th width="20%" class="center">操作</th>
    </tr>
    </thead>
    <tbody>
    <% if @plates.present?%>
        <% @plates.each_with_index  do |plate, index|%>
            <tr>
              <td class="center"><%= index + 1 %></td>
              <td class="center"><%= plate.name %></td>
              <td class="center"><%= Plate::SHOW_FLAG[plate.show_flag]%></td>
              <td><%= replace_br(plate.info)%></td>
              <td class="center">
                <%= link_to edit_admin_plate_path(plate), :class => 'btn btn-primary' do %>
                    编辑
                <% end %>
                <%= link_to '删除', admin_plate_path(plate),  :class => 'btn btn-primary',:method => 'delete', :data => {'confirm' => '确定删除吗？'} %>

              </td>
        <% end %>
    <% else %>
        <tr>
          <td class="center" colspan="5"><%= I18n.t('messages.no_data')%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @plates%>
  <!--<div class="container" >-->
    <!--<div class="row clearfix" >-->
      <!--<div class="col-md-6 column" pull-right>-->
        <!--<ul class="pagination">-->
          <!--<li>-->
            <!--<a href="#">上一页</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">4</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">5</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">下一页</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

