<%= render :partial => 'common/user', :locals => {:user => @post.try(:user), :user_info => @post.try(:user).try(:get_user_info)}%>
<h1>帖子详情：</h1>
<div class="row clearfix">
  <div class="col-md-1 column">

  </div>
  <div class="col-md-8 column">
    <h2>
      <%= @post.title%>
    </h2>
    <p>
      <%= replace_br @post.detail%>
    </p>


  </div>
  <div class="col-md-3 column">
    <%if @post.post_pictures.present?%>
        <% @post.post_pictures.each do |picture|%>
            <div>
            <div class="show_post_box_detail">
                <%= image_tag picture.image.url%>
            </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row mt20 mb40">
  <span id="say_good_or_not">
    <% if be_said_good%>
      <%= render 'post_common/cancel_say_good'%>
    <% else %>
      <%= render 'post_common/say_good' %>
    <% end %>
  </span>
  <%= link_to new_post_comment_path(@post), :class => 'btn btn-default btn-sm', :remote => true do%>
      评论
  <% end %>
</div>
<div class="container">
  <div class="" id="comments" name="comments">
    <%= render 'comment_list', :comments => @comments%>
  </div>


  <div class="row" id="comment" name="comment">

  </div>
</div>