<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.input :title, :label => '标题', :label_html => {:class => 'control-label'}, :input_html => {:class => 'form-control'}, :required => false%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">显示状态</label>
      <div class="radio">
        <label class="radio-inline">
          <%=f.radio_button :show_flag,true, :class => 'flat'%>
          显示
        </label>
        <label class="radio-inline">
          <%=f.radio_button :show_flag,false, :class => 'flat'%>
          不显示
        </label>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
        <%= render 'admin/common/date_range_input', :model => @notice, :f => f%>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="info" class="control-label">内容</label>
      <%= f.text_area :content, :class => 'ckeditor form-control text_field_re_v', :id => 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" type="submit">保存</button>
  </div>
</div>
<%= javascript_include_tag '/plugins/ckeditor/ckeditor' %>
<%= javascript_include_tag '/plugins/ckeditor/adapters/jquery' %>

<script type="text/javascript">
    var runCKEditor = function() {
        CKEDITOR.disableAutoInline = true;
        $('textarea.ckeditor').ckeditor();
    };
    $(function(){
    runCKEditor();
    });

    var options = {
        format: 'YYYY/MM/DD',
        locale: {
            format: "YYYY/MM/DD",
            separator: " - ",
            applyLabel: "确认",
            cancelLabel: "取消",
            fromLabel: "From",
            toLabel: "To",
            customRangeLabel: "自定义",
            daysOfWeek: [
                "日", "一", "二", "三", "四", "五", "六"
            ],
            monthNames: [
                "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"
            ],
            firstDay: 1
        },
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        alwaysShowCalendars: true,
        showDefault: false
    };
    $(function(){
        $('.date-range').daterangepicker(options);
    })

    $('.q-date-range').daterangepicker(options);
    $('.q-date-range').on('apply.daterangepicker', function(ev, picker) {
        $('#q_date_gteq').val(picker.startDate.startOf('day').format("YYYY-MM-DD HH:mm:ss"));
        $('#q_date_lteq').val(picker.endDate.endOf('day').format("YYYY-MM-DD HH:mm:ss"));
    });
</script>