<ul class="nav nav-tabs">
  <li class="<%= admin_menu_active :users%>">
    <%= link_to  do%>
        用户管理
    <% end %>
  </li>
  <li class="<%= admin_menu_active :plates%>">
    <%= link_to admin_plates_path do %>
        板块管理
    <% end %>
  </li>
  <li class="<%= admin_menu_active :posts%>">
    <a href="#panel-173252" >帖子管理</a>
  </li>
  <li class="<%= admin_menu_active :notices%>">
    <a href="#panel-173252" >通知管理</a>
  </li>
</ul>