<ul class="nav nav-tabs">
  <li class="<%= admin_menu_active :posts%>">
    <%= link_to admin_posts_path do%>
        帖子管理
    <% end %>
  </li>
  <li class="<%= admin_menu_active :users%>">
    <%= link_to  do%>
        用户管理
    <% end %>
  </li>
  <li class="<%= admin_menu_active :plates%>">
    <%= link_to admin_plates_path do %>
        板块管理
    <% end %>
  </li>
  <li class="<%= admin_menu_active :notices%>">
    <%= link_to admin_notices_path do %>
        通知管理
    <% end %>
  </li>
</ul>