<!DOCTYPE html>
<html>
<head>
  <title>Testrails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag  'application'%>
  <%= javascript_include_tag 'application' %>
</head>

<body class="login">
    <div class="loading" id="loading"></div>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <%= render 'common/admin_nav'%>
          <h3>
            管理员，欢迎你！
          </h3>
          <div class="tabbable" id="tabs-429501">
            <%= render 'common/admin_menu'%>
            <div class="tab-content">
                <%= yield %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%= render 'common/footer'%>
</body>
</html>
